body {
  font-family: Arial, sans-serif;
  background-color: #ffff;
  margin: 0;
  padding: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
}

.menu {
  display: flex;
  justify-content: space-between;
  background-color: #333;
  color: rgb(112, 112, 112);
  padding: 10px 20px;
}

button {
  cursor: pointer;
}

.menu input {
  background-color: #949494;
  color: #333;
  border: none;
  padding: 5px 10px;
  margin: 0 5px;
  border-radius: 4px;
}

h1 {
  text-align: center;
  font-size: 3em;
  color: #C5283D;
  margin-top: 20px;
  text-shadow: 1px 3px #033B60;
}

h2 {
  text-align: center;
  margin: 20px;
  padding: 10px 10px 10px 10px;
  font-size: 28px;
  color: #C5283D;
  text-shadow: 2px 2px #481D24;

}

ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
}

li {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#types {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.type-button {
  border-radius: 8px;
  border: none;
  padding: 7px 7px 7px 7px;
  margin: 3px;
}

.listed-pokemon {
  color: #481D24;
  font-size: 28px;
  text-align: center;
}


.listed-pokemon:hover {
  cursor: pointer;
  color: #E9724C;
}

#pokemon-more-info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.about-section,
.form-section,
.footer {
  background-color: rgb(110, 110, 110);
  padding: 20px;
  margin: 20px 0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.buttons button {
  background-color: #808080;
  color: rgb(95, 95, 95);
  border: none;
  padding: 10px 20px;
  margin: 0 10px;
  border-radius: 4px;
  cursor: pointer;
}

.buttons button:hover {
  background-color: #555;
}

.form-section label,
.form-section input,
.form-section select {
  display: block;
  margin: 10px 0;
}

.footer {
  text-align: center;
}

.footer button {
  background-color: #333;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.footer button:hover {
  background-color: #555;
}

.results {
  margin-top: 20px;
}